/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.weart-intro  {
  .components-button{
    width: 28px;
    height: 28px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 50%;
    padding: 0px;
    outline: none;
  }
}
