/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.container{
	max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.wp-block{
	max-width: 1140px;
}

h1,h2,h3,h4,h5,h6{
	line-height: 1.15em;
	color: $c-1;
}

h4{
	color: $c-2;
	font-size: 1rem;
	font-family: $f-text;
}