.weart-szolgaltatas{
	text-align: center;
	padding: 1rem;
	border: 2px solid black;
	height: 100%;

	.inner{
		border: 2px solid black;
		height: 100%;
		padding: 1rem;
	}

	h3{
		font-size: 16px;
		margin: 16px 0;
		text-transform: uppercase;
		font-family: $f-text;
		letter-spacing: 1px;
	}

	.image{
		display: inline-block;
	}

}