/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

// appender button
.weart-blocks{
	.block-editor-inner-blocks{
		button.block-editor-button-block-appender{
			border: 1px solid white;
			// border-radius: 50%;
			width: 40px;
			height: 28px;
			padding: 0;
			outline: none;
		}
	}
}