/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$c-1: var(--c-1);
$c-2: var(--c-2);
$f-title: var(--f-title);
$f-text: var(--f-text);

// appender button
.weart-blocks{
	.block-editor-inner-blocks{
		button.block-editor-button-block-appender{
			border: 1px solid white;
			// border-radius: 50%;
			width: 50px;
			height: 28px;
			padding: 0;
			outline: none;
			margin: 10px auto;
		}
	}
}